body {
	background-color: #000;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#root {
	width: 100%;
}

#emuscreen {
	margin: 0 auto;
}

#game-screen {
	width: 300px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -187px;
    margin-left: -150px;
	display: flex;
	flex-direction: column;
	border: 1px solid #0e505a;
}

#game-screen .image {
	width: 300px;
	height: 224px;
	background-image: url("images/join-screen.png");
	background-repeat: no-repeat;
	background-position: center;
	border-bottom: 2px solid #0e505a;
}

#game-screen #join {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #008197;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#game-screen #join #join-input{
	display: flex;
	flex-direction: row;
}

#game-screen #join #join-textbox-icon {
	color: #fff;
	border-top: 1px solid #005564;
	border-left: 1px solid #005564;
	border-bottom: 1px solid #005564;
	padding: 5px;
	background-color: #006476;
}

#game-screen #join #join-textbox {
	width: 100%;
	padding: 5px 10px;
}

#game-screen #join #join-button {
	margin: 5px 10px;
	width: 65px;
	padding: 5px 10px;
	background-color: #005564;
	border: 2px solid #006476;
	color: #fff;
	font-weight: bold;
}
#game-screen #join #join-button:hover {
	background-color: #00424e;
	cursor: pointer;
}

#game-screen #lobby {
	background-color: #008197;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


#game-screen #lobby .player {
	color: #fff;
	font-weight: bold;
	padding: 5px 10px;
	border: 1px solid #005564;
	width: 78px;
	word-wrap: break-word;
	text-align: center;
}
